.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $baseline * 2 0;
  color: $colorViolet;
  font-size: $fontSmall;


  a {
    text-decoration: none;
    color: $colorViolet;
    font-weight: $fontSemiBold;
  }

  span {
    color: $colorPink;
  }
}
