<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Mauro Reis Vieira" />
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="theme-color" content="#EA2663">
    <title>Element</title>

    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <header class="header"></header>
    <main class="main">
        <div class="arrow-select"></div>
        <button class="button"> Click to Manipulate Animation</button>
    </main>
    <script src="element.js"></script>
</body>
</html>
