@mixin typography($font-size, $font-weight: 400, $color: inherit, $font : inherit) {
  font: {
    family: $font;
    size: $font-size;
    weight: $font-weight;
  }
  line-height: $font-size + 4;
  color: $color;
}

@mixin between-two-sizes($max-w : map-get($list-breakpoints, 'large'), $min-w : map-get($list-breakpoints, 'medium')) {
  @media (max-width: $max-w) and (min-width: $min-w) {
    @content;
  }
}

@mixin mobile($max-w : map-get($list-breakpoints, 'small')) {
  @media (max-width: $max-w) {
    @content;
  }
}

@mixin tablet($max-w : map-get($list-breakpoints, 'medium')) {
  @media (max-width: $max-w) {
    @content;
  }
}

@mixin desktop($max-w : map-get($list-breakpoints, 'large')) {
  @media (max-width: $max-w) {
    @content;
  }
}
