html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
  background-color: $white;
  letter-spacing: 1px;
  overflow: hidden;
}

::-moz-selection {
  color: $black;
}

::selection {
  color: $black;
}

