* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    font-family: Arial, sans-serif;
}

.main {
    max-width: 1024px;
    display: block;
    margin: auto;
    padding: 80px;
}

.simple {
    width: 100%;
    display: block;
    border-left: 1px solid #E91E63;
    border-right: 1px solid #E91E63;
    color: #E91E63;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: right;
    margin-top: 30px;
}

.percent {
    display: block;
    float: left;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
