* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.main {
    max-width: 1024px;
    display: block;
    margin: auto;
    padding: 40px 0;
}
